<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>DigArt</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="artist">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">DigArt</a>
      </div>
      <div class="header-links">
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Artist 1</a>
        </li>

        <li>
          <a href="index.html">Artist 2</a>
        </li>

      </ul>
    </aside>
    <main class="main">
    </main>
    <footer class="footer">
      Made by Team Alpha.
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>